# ===================================
# Ignore files for c3P repo
# ===================================

# Flex =======
*.yy.c

# Bison =======
*.tab.c
*.tab.h
*.output

# Old files which could ge created by developers
# in order to keep some files not prepared for repo
*.old

# c3P files created just for debugging symt
src/symtab/*.c3p

# Executable files =======
# Set .exe extension at executable files
# in order to apply this line
*.exe

# Special executables
c3pc
iq

# Visual Studio Code =======
.vscode

# CMake =======
build

# LaTeX temporary files
document/spanish/.tmp

# Q language
IQ-cpp.q.c
q_test_*.q.c
